@use "../../../styles/variables.scss" as *;

.pagecard__visual {
  width: 100%;
  height: 100%;
  position: relative;
  &-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $black;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 30px;
  }
}

.pagecard__content {
  width: 50%;
  height: auto;
  position: relative;
  &-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin-bottom: 24px;
  }

  &-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
  }
}

.pagecard__detail {
    width: 50%;
    margin-bottom: 30px;
    &-title {
        font-size: 15px;
        font-weight: 700;
        text-align: left;
    }

    &-text {
        font-size: 15px;
        font-weight: 700;
        text-align: left;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

//project card
.project__card {
    border-top : 1px solid ;
    border-bottom :1px solid;
    padding: 50px 0;
    &-title {
        padding-bottom: 120px;
      p {
        font-size: 90px;
        line-height: 1.3;
      }
      span {
        font-size: 17px;
      }
    }

    &:nth-child(2n)     &-title {
        text-align: right;
    }
  }

