@import "../../styles/variables.scss";

.input {
    width: 100%;
    height: 59px;
    padding: 16px 24px;
    box-sizing: border-box;
    background-color: $grey;
    color: $black;
    border: none;
}

