@import './variables.scss';

body {
    height: auto;
    display: block;
    margin: 0;
    min-height: 100vh;
    background-color: #333;

    &.darkmode {
        background-color: #333;
        color: rgba(255, 255, 255, 0.87);
        border-color:$white;
    }

    &.lightmode {
        background-color: $white;
        color: #333;
        border-color: $black;
    }
  
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 78px;


}