@import "./variables.scss";

.section {
  &-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 56px;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 24px;

      span {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
      }
      h1 {
        font-size: 68px;
        line-height: auto;
        font-weight: 600;
      }
      p {
        font-size: 17px;
        line-height: 27px;
        font-weight: 400;
      }

      
    }
    &__content-image {
      width: 50%;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column-reverse;
      padding: 32px 24px;

      &__content-image {
        width: 200px;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__content-title {
        h1 {
          line-height: 100%;
          margin: 10px 0;
          font-size: 48px;
        }
      }
      .button {
        margin: 0 auto;
      }
    }
  }

  &-card {
    padding: 42px 24px;
    gap: 24px;
    .section-card__title {
      h2 {
        text-align: center;
        font-size: 32px;
        line-height: 42px;
        font-weight: 600;
        margin-bottom: 42px;
      }
    }
    .section-card__content {
      display: flex;
      gap: 24px;

      &-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
      }
     
    }
    @media screen and (max-width: $breakpoint-mobile) {
      .section-card__content {
        flex-direction: column;

        &-grid {
          gap: 0;
        }
      }
    }

    .button-box {
      display: flex;
      justify-content: flex-end;
      margin-top: 50px;
    }
  }

}
