@use '../../styles/variables.scss' as *;

.section-project1 {
  position: relative;
  padding: 0 48px 120px;
}

.section-project1__visual {
  margin-bottom: 50px;
}
.section-project1__content {
  display: flex;
  gap: 40px;
}

.detail-cardbox {
  width: 50%;
  margin-bottom: 50px;
}


