@use "../../styles/variables.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;

  @media screen and (max-width : $breakpoint-mobile) {
    width: 100%;
  }

  // 기술 카드
  &-skill {
    height: 429px;
    padding: 64px 42px;

    &__icon {
      width: 124px;
      height: 124px;
      margin-bottom: 42px;
    }
    &__title {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 12px;
    }
    &__description {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }
  }

  //커리어 카드
  &-career {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: auto;
    padding: 42px;
    background-color: $grey;
    color: $black;

    &__details {
      font-weight: 600;
      margin-bottom: 15px;
      &-items {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
      }
      &-company {
        font-size: 24px;
        line-height: 24px;
      }
      &-period {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__description {
      font-size: 18px;
      line-height: 24px;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  //작업물 카드
  &-work {
    height: auto;
    margin-bottom: 24px;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.05);
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

      img {
        &:hover {
          transform: scale(1.05);
          transition: transform 0.3s ease-in-out;
        }
      }
    }

    &:nth-child(2) {
      .card-work__img {
        background-color: $white;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__link {
      width: 100%;
      height: 100%;
    }
    &__img {
      width: 100%;
      height: 330px;
      margin-bottom: 24px;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 12px;
      padding: 0 10px;
    }
    &__description {
      font-size: 16px;
      line-height: 24px;
      padding: 0 10px;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media screen and (max-width : $breakpoint-mobile) {
        height: auto;
    }
  }

  //   sns리스트카드
  &-sns {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    li {
      display: inline-block;
      width: 50px;
      height: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
