@import "../../styles/variables.scss";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
    
  // 기술 카드
  &-skill {
    height: 429px;
    padding: 64px 42px;
 

    &__icon {
      width: 124px;
      height: 124px;
      margin-bottom: 42px;
    }
    &__title {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 12px;
    }
    &__description {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }
  }

  //커리어 카드
  &-career {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 330px;
    padding: 42px;
    background-color: $grey;
    color: $black;

    &__details {
        font-weight: 600;
        margin-bottom: 15px;
        &-items {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            
        }
        &-company {
            font-size: 24px;
            line-height: 24px;
        }
        &-period {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 24px;
    }
  }

  //작업물 카드
  &-work {
    height: 419px;
    margin-bottom: 24px;

    &__link {
        width: 100%;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: 330px;
        margin-bottom: 24px;
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 8px;
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
    }
  }
}
